Repository HiWebDev0026/Elementor-Pro: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier --no-verify, npm run lint, npm run prettier

fix: type
  .npmignore
  README.md
  package.json
  src/Menu/Menu.vue
  src/composables/public.ts
  src/types/index.d.ts
  src/utils/router.ts
Due: npm run prettier --no-verify, npm run lint, npm run prettier

chore: change example
  example/src/router/index.ts
  example/src/views/Layout.vue
  src/composables/public.ts
Due: npm run prettier --no-verify, npm run lint

feat(Table): init Table
  example/src/views/Table.vue
  src/Table/Table.vue
  src/Table/index.ts
  src/index.ts
Due: npm run prettier --no-verify, npm run lint

feat(Table): test
  example/src/views/Table.vue
  src/Table/Table.vue
  src/Table/TableItem.vue
Due: npm run prettier --no-verify, npm run lint

feat(Table): support grouping head
  README.md
  example/src/views/Table.vue
  src/Table/Table.vue
  src/Table/TableItem.vue
  src/composables/index.ts
  src/composables/table.ts
  src/types/index.d.ts
  src/utils/filter.ts
  src/utils/index.ts
Due: npm run prettier --no-verify, npm run lint, npm run prettier

chore: move rollup.config.js to root
  .gitignore
  .npmignore
  LICENSE
  package.json
  rollup.config.js
Due: npm run prettier --no-verify, npm run lint

feat(Table): add public config
  example/src/views/Table.vue
  src/Table/Table.vue
  src/Table/TableItem.vue
  src/Table/index.ts
  src/composables/table.ts
  src/config.ts
  src/index.ts
  src/types/index.d.ts
Due: npm run prettier --no-verify, npm run lint

style: optimize code format
  src/Breadcrumb/Breadcrumb.vue
  src/InputTag/InputTag.vue
  src/Layout/LayoutAside.vue
  src/Menu/Menu.vue
  src/composables/public.ts
  src/composables/table.ts
Due: npm run prettier --no-verify, npm run lint

feat(Form): init form
  example/src/main.ts
  example/src/router/index.ts
  example/src/views/Form.vue
  example/src/views/Table.vue
  src/Form/Form.vue
  src/Form/FormItem.vue
  src/Form/index.ts
  src/composables/form.ts
  src/composables/index.ts
  src/config.ts
  src/index.ts
Due: npm run prettier --no-verify, npm run lint

feat(Form): bind form data
  example/src/views/Form.vue
  src/Form/Form.vue
  src/Form/FormCompont.vue
  src/Form/FormItem.vue
  src/composables/form.ts
Due: npm run prettier --no-verify, npm run lint

feat(Form): enhanced slot
  example/src/views/Form.vue
  src/Form/Form.vue
  src/Form/FormItem.vue
Due: npm run prettier --no-verify, npm run lint

fix(Table): slot
  example/src/views/Table.vue
  src/Table/Table.vue
  src/Table/TableItem.vue
Due: npm run prettier --no-verify, npm run lint

feat(Tabs): optimize code
  src/Tabs/Tabs.vue
  src/composables/index.ts
  src/composables/tabs.ts
Due: npm run prettier --no-verify, npm run lint

docs: vuepress to vitepress
  docs/.vitepress/config.js
  docs/.vitepress/theme/ProCode.vue
  docs/.vitepress/theme/index.ts
  docs/.vuepress/components/ProCode.vue
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/public/icons/index.js
  docs/.vuepress/public/icons/svg/search.svg
  docs/.vuepress/styles/palette.styl
  docs/components/index.md
  docs/guide/index.md
  docs/index.md
  docs/public/favicon.ico
  example/src/views/Form.vue
  example/src/views/Home.vue
  package.json
  tsconfig.json
Due: npm run prettier --no-verify, npm run lint, npm run prettier

docs: op demo container
  docs/.vitepress/config.js
  docs/.vitepress/theme/ProCode.vue
  docs/.vitepress/theme/index.ts
  package.json
  src/composables/public.ts
Due: npm run prettier --no-verify, npm run lint

docs: updata
  docs/.vitepress/config.js
  docs/.vitepress/theme/index.ts
  docs/components/Breadcrumb.md
  docs/components/Form.md
  docs/components/ImgCropper.md
  docs/components/InputTag.md
  docs/components/Layout.md
  docs/components/Link.md
  docs/components/Menu.md
  docs/components/Svg.md
  docs/components/Table.md
  docs/components/Tabs.md
  docs/components/index.md
  docs/guide/index.md
  docs/guide/theme.md
  docs/index.md
  docs/public/.nojekyll
  package.json
  src/config.ts
Due: npm run prettier --no-verify, npm run lint, npm run prettier

chore: remove prettier on mackdown file
  .lintstagedrc
  docs/components/Breadcrumb.md
  docs/components/Form.md
  docs/components/InputTag.md
  docs/components/Layout.md
  docs/components/Menu.md
  docs/components/Table.md
  docs/guide/index.md
  docs/guide/theme.md
  package.json
Due: npm run prettier

docs: updata
  docs/.vitepress/config.js
  docs/.vitepress/theme/index.css
  docs/.vitepress/theme/index.ts
  docs/components/Breadcrumb.md
  docs/components/Form.md
  docs/components/InputTag.md
  docs/components/Layout.md
  docs/components/Menu.md
  docs/components/Table.md
  docs/components/Tabs.md
  docs/guide/index.md
  docs/guide/theme.md
  docs/public/img/pro-layout.jpg
Due: npm run prettier --no-verify, npm run lint, npm run prettier

feat: add actions
  .github/workflows/build docs.yml
  CHANGELOG.md
  README.md
  package.json
Due: npm run prettier

chore: add exclude
  package.json
  tsconfig.json
Due: none

docs: fix codeSnippet
  docs/components/Layout.md
  docs/guide/index.md
Due: npm run prettier

workflow: use Vite Library Mode to build
  .npmignore
  docs/.vitepress/config.js
  docs/.vitepress/theme/ProCode.vue
  docs/.vitepress/theme/index.ts
  example/index.html
  example/public/favicon.ico
  example/src/main.ts
  package.json
  rollup.config.js
  src/Layout/Layout.vue
  tsconfig.json
  vite.config.ts
Due: npm run prettier --no-verify, npm run lint, npm run prettier

docs: fix error
  docs/components/Form.md
  docs/public/.nojekyll
  example/src/views/Form.vue
Due: npm run prettier --no-verify, npm run lint, npm run prettier

chore: init test
  jest.config.js
  package.json
  test/utils.spec.ts
  tsconfig.json
Due: npm run prettier --no-verify, npm run lint

chore: fix npmignore
  .npmignore
Due: none

chore: move config to utils
  docs/guide/index.md
  src/Table/index.ts
  src/composables/table.ts
  src/index.ts
  src/utils/config.ts
Due: npm run prettier --no-verify, npm run lint, npm run prettier

fix: types
  .gitignore
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/tsconfig.json
  example/tsconfig.json
  package.json
  src/index.ts
  src/types/index.ts
  test/tsconfig.json
  tsconfig.json
Due: npm run prettier --no-verify, npm run lint

style: optimize md and json file
  .lintstagedrc
  .prettierrc
  docs/.vitepress/theme/tsconfig.json
  docs/components/Form.md
  docs/components/InputTag.md
  docs/components/Layout.md
  docs/components/Menu.md
  docs/components/Table.md
  example/tsconfig.json
  package.json
  test/tsconfig.json
Due: npm run prettier

fix: lint-staged
  .lintstagedrc
Due: none

fix: jest
  jest.config.js
Due: npm run prettier --no-verify, npm run lint

fix(InputTag): autocomplete not work
  example/src/views/Form.vue
  src/InputTag/InputTag.vue
  src/composables/index.ts
  src/composables/inputTag.ts
  src/styles/index.css
  test/inputTag.spec.ts
Due: npm run prettier --no-verify, npm run lint, npm run prettier

docs: updata InputTag
  docs/components/InputTag.md
Due: npm run prettier

fix(InputTag): size not work on tag
  docs/components/InputTag.md
  example/src/views/Form.vue
  package.json
  src/Form/FormItem.vue
  src/InputTag/InputTag.vue
  src/composables/form.ts
Due: npm run prettier --no-verify, npm run lint, npm run prettier

feat(Checkbox): add Checkbox
  src/Checkbox/Checkbox.vue
  src/Checkbox/index.ts
  src/utils/mixins.ts
Due: npm run prettier --no-verify, npm run lint

feat(CheckboxButton): add CheckboxButton
  src/CheckboxButton/CheckboxButton.vue
  src/CheckboxButton/index.ts
Due: npm run prettier --no-verify, npm run lint

feat(Radio): add Radio
  src/Radio/Radio.vue
  src/Radio/index.ts
Due: npm run prettier --no-verify, npm run lint

feat(RadioButton): add RadioButton
  src/RadioButton/RadioButton.vue
  src/RadioButton/index.ts
Due: npm run prettier --no-verify, npm run lint

feat(Select): add Select
  README.md
  example/src/views/Form.vue
  src/Select/Select.vue
  src/Select/index.ts
  src/index.ts
Due: npm run prettier --no-verify, npm run lint, npm run prettier

Path conditions:
  npm run prettier --no-verify: any of: *.{ts,vue,js}
  npm run lint: any of: *.{ts,vue,js}
  npm run prettier: any of: *.{html,css,md}
